.navbar-google {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-right: 10px;
}

.navbar-item {
    margin: 10px;
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
}

a:hover {
    color: black;
    text-decoration: underline;
}

a:active {
    color: black;
}

.google-img {
    width: 200px;
    text-align: center;
}